body, html{
 margin: 0;
 height: 100%;
 font: 16px, "lato", sans-serif;
 color: #fff;
}

/*estrutura geral*/

p{
 background: #fff;
 text-align: justify;
 padding: 50px 80px;
 color: #777;
}

h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;

}
.conteudo{
 top: 45%;
 left: 0;
 text-align: center;
 position: absolute;
 width: 100%;
 text-transform: uppercase;
}

.titulo{
color: #fff;
background-color: #111;
padding: 18px;
font-size: 25px;
letter-spacing: 5px;

}

.caixa1, .caixa2, .caixa3, 
.caixa4, .caixa5, .caixa6{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	opacity: 0.7;
}

.caixa1{
 background-image: url(../img/imagem1.jpg);
}
.caixa2{
 background-image: url(../img/imagem2.jpg);
}
.caixa3{
 background-image: url(../img/imagem3.jpg);
}
.caixa4{
 background-image: url(../img/imagem4.jpg);
}
.caixa5{
 background-image: url(../img/imagem5.jpg);
}
.caixa6{
 background-image: url(../img/imagem6.jpg);
}
